/* google fonts  */
/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* rock salt font  */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* universal styles */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    color: #FFF;
}

/* shared style */
.display-flex {
    display: flex;
}

.m-width {
    max-width: 1060px;
    margin: 0 auto;
}

.bg-primary {
    background: #111;
}

.primary-clr {
    color: #E6533C;
}

.btn-primary {
    background-color: #E6533C;
    padding: 1rem 2.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.125rem;
    border-radius: 42px;
    border: none;
}

.btn-div {
    gap: 14px;
}

.sec-title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.sec-desc {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* navbar related style */
header {
    padding-top: 70px;
    padding-bottom: 70px;
}

.brand {
    font-size: 2.25rem;
    font-style: italic;
}

.nav-bar {
    padding-bottom: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-bar li,
.nav-bar a,
.foot-uls li,
.foot-uls a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.nav-items {
    gap: 2.5rem;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    padding: 1.125rem 2.5rem;
    padding-left: 0.25rem;

}

/* banner section  */
.banner-container {
    gap: 160px;
}

.banner-content {
    max-width: 520px;
}

.banner-title {
    font-size: 4.8rem;
    line-height: 70px;
    font-weight: 900;
    color: #fff;
    margin-top: 90px;
}

#shape {
    color: #FFF;
    font-family: "Rock Salt", serif;
    font-size: 4.8rem;
    font-weight: 400;
}

.banner-desc {
    color: rgba(255, 255, 255, 0.50);
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
    margin-top: 28px;
    margin-bottom: 28px;
}

/* Change Your Habits */
.habit-container {
    justify-content: space-evenly;
    padding: 50px;
}

.habit-content {
    max-width: 670px;
    margin: 0 auto;
}

.habit-card {
    max-width: 230px;
    text-align: center;
}

.habit-img {
    border-radius: 50%;
}

.h-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}

.h-desc {
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 128.571%;
    letter-spacing: 0.3px;
}

/* <!-- Run an Extra Mile Easily --> */
.run-extra {
    border-radius: 18px;
    background-color: #222;
    justify-content: space-evenly;
    padding: 30px;
}

.run-extra>img {
    border-radius: 18px;
}

.run-content {
    max-width: 445px;
}

#run-id {
    text-align: start;
    margin: 14px;
}

/* Trainings and Exercises */
.training {
    margin-top: 6.25rem;
    max-height: 580px;
}

.training-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    margin-top: 50px;
}

.training-images>img {
    width: 100%;
    height: 200px;
}

/* BMI Calculator */
.bmi-container {
    margin-top: 80px;
}

.bmi-cards {
    background-color: #222222;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bmi-dad {
    justify-content: space-between;
}

.bmi-table {
    max-width: 320px;
}

th,
td {
    border: 1px solid #FFF;
    margin: 0;
    padding: 10px 25px;
    text-align: start;
}

th {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
}

.td,
td {
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.8rem;
    font-weight: 400;
}

table {
    border-collapse: collapse;
}

.bmi-calc {
    max-width: 570px;
}

.bmi-title {
    padding-bottom: 52px;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}

input,
select {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    padding: 12px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

.bmi-form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 30px auto;
}

#span2 {
    grid-column: span 2;
}

/* Meet Our Team */
.meet-team {
    margin-top: 80px;
    padding-bottom: 80px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.trainer-name {
    font-size: 1.25rem;
    font-weight: 900;
}

.designation {
    color: rgba(255, 255, 255, 0.50);
    font-size: .75rem;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */
}

.team-img>img {
    height: 270px;
    width: 325px;
    border-radius: 18px;
}

.team-img {
    position: relative;
}

.team-content {
    position: absolute;
    top: 75%;
    color: #FFF;
    padding: 10px 20px;
    text-align: start;
}

/* fooooter */
.foot-title {
    color: #E6533C;
    font-size: 4.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    /* 84px */
}

.foot-sec {
    justify-content: space-between;
}

.foot-items {
    gap: 150px;
}

#fit-id-foot {
    max-width: 440px;
}

.foot-uls {
    max-width: 180px;
}

.foot-uls>ul li {
    padding-bottom: 20px;
}

hr {
    margin-top: 36px;
    margin-bottom: 36px;
}

.rights {
    text-align: center;
    padding-bottom: 46px;
}

@media screen and (max-width: 576px) {
    header {
        padding: 30px;
    }

    .nav-items {
        gap: 15px;
    }

    .nav-items ul>li {
        font-size: .25rem;
    }

    .banner-container,
    .nav-bar,
    .run-extra,
    .foot-sec,
    .bmi-dad {
        flex-direction: column;
    }

    .nav-bar {
        padding-bottom: 0;
    }

    .banner-container {
        gap: 0;
    }

    .banner-container>img {
        width: 70%;
        margin: 0 auto;
    }

    .habit {
        padding: 30px;
    }

    .habit-container {
        flex-wrap: wrap;
        padding: 0;
        gap: 20px;
    }

    .habit-card {
        width: 40%;
    }

    .habit-card>img {
        width: 100%;
        margin: 0 auto;
    }

    .run-extra {
        margin: 0 20px;
        gap: 30px;
    }

    .training {
        max-height: 100%;
        padding: 20px;
        margin-top: 0;
    }

    .training-images {
        grid-template-columns: repeat(2, auto);
        width: 100%;
    }

    .training-images img {
        height: 100%;
        width: 100%;
    }

    .bmi-dad {
        gap: 50px;
        justify-content: center;
    }

    .bmi-table {
        margin: 0 auto;
    }

    .bmi-form {
        margin: 20px auto;
        width: 100%;
        padding: 0;
    }

    input,
    select {
        width: calc(100% - 30px);
    }

    .team-container {
        grid-template-columns: repeat(2, auto);
    }

    .team-img img {
        width: 100%;
        height: 100%;
    }

    .team-container {
        padding: 20px;
    }

    .foot-sec {
        gap: 20px;
         /* padding: 20px; */
        
    }

    .foot-items {
        gap: 30px;
        justify-content: space-evenly;
    }
    #fit-id-foot{
        padding: 20px;
    }

    .rights {
        justify-content: center;
    }
}